<html id="app">
    <head>
        <script src='js/firebase.js'></script>
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link href="css/simple-sidebar.css" rel="stylesheet" />
    </head>
    <body>
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#" v-on:click="clearInputs()">
                            + Add New Recipe
                        </a>
                    </li>
                    <ul v-for="recipe in recipes">
                        <li>
                            <a href="#" v-on:click="setRecipe(recipe)">{{recipe.title}}</a>
                        </li>
                    </ul>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <form class="form-horizontal">
                        <fieldset>
                            <!-- Form Name -->
                            <legend>Firebase Recipes</legend>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="textinput">Recipe Name</label>
                                <div class="col-md-4">
                                    <input id="textinput" v-model="title" value={{title}} name="textinput" type="text" placeholder="ex: No-bake Cheesecake" class="form-control input-md" required="">
                                    
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="textinput">Classification</label>
                                <div class="col-md-4">
                                    <input id="textinput" v-model="classification" name="textinput" type="text" placeholder="ex: Western Pastries" class="form-control input-md">
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="textinput">Ingredient</label>
                                <div class="col-md-4">
                                    <input id="textinput" v-model="ingredient" name="textinput" type="text" placeholder="ex: Cream Cheese" class="form-control input-md">
                                </div>
                                <div class="col-md-2">
                                    <button id="singlebutton" v-on:click.stop.prevent="addIngredient()" name="singlebutton" class="btn btn-primary">Add</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="textinput"></label>
                                    <div class="col-md-4">
                                        <button id="button1id" v-on:click.stop.prevent="saveRecipe(id)" vname="button1id" class="btn btn-success">Save</button>
                                        <button id="button2id" v-on:click.stop.prevent="deleteRecipe(title)" name="button2id" class="btn btn-danger">Delete</button>
                                    </div>
                            </div>
                        </fieldset>

                    </form>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <ul class="list-group" v-for="ingredient in ingredients" track-by="$index">
                            <li class="row list-group-item">
                                <span class="col-md-9">{{ingredient}}</span>
                                <input class="col-md-3 btn btn-danger" v-on:click.stop.prevent="deleteIngredient(ingredient)" type="button" value="Remove"/>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
        <!-- /#wrapper -->
        <script src='js/jquery.min.js'></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/lodash.min.js"></script>
        <script src='js/vue.js'></script>
        <script src='js/arcfire.js'></script>
    </body>
</html>